.listContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.listContainer section {
  width: 740px;
  /* border-radius: 6px;
  border-top: 1px solid var(--gray-400); */
}

@media (max-width: 800px) {
  .listContainer section{
    width: 410px;
  }
}

@media (max-width: 430px) {
  .listContainer {
    margin-top: 14px;
  }

  .listContainer section{
    width: 300px;
    font-size: 0.8rem;
  }
}



